.home {
  width: 100%;
  margin-bottom: 20px;

  .row {
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    .post-list {
      width: 100%;
      max-width: 1400px;
      margin: 0 auto;

      .post_con {
        width: 100%;
        margin-bottom: 50px;
        border: 2px solid var(--light);
        border-radius: 20px;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 0 15px var(--blue2);

        .post {
          width: 100%;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          h3 {
            font-size: 26px;
            margin: 0 auto 15px;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: var(--blue2);
            }
          }

          p {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 15px;
          }
          .tags {
            width: 100%;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            justify-content: center;
            margin-bottom: 20px;
            font-size: 18px;

            span {
              margin: 0 8px;
            }
          }

          button {
            cursor: pointer;
            border: 3px solid var(--blue1);
            background: var(--blue1);
            color: var(--light);
            padding: 8px 15px;
            box-sizing: border-box;
            font-size: 18px;
            border-radius: 20px;
            transition: all 0.2s ease-in-out;
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
